# IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws

# Gradle
.gradle
/build/
/*/build/
/*/*/build/
/*/*/*/build/

# Other
local.properties
/temp/

# No source code in grouping folders.
/twister-lib-java/src/
/twister-lib-java/*.gradle*
/twister-lib-java/*/src/
/twister-lib-java/*/*.gradle*
/twister-lib-android/src/
/twister-lib-android/*.gradle*
