<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	>

	<uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
	<uses-feature android:name="android.hardware.camera" android:required="false" />

	<!-- net.twisterrob.android.activity.CaptureImage.doPick -->
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

	<application>

		<activity
			android:name="net.twisterrob.android.activity.CaptureImage"
			android:exported="false"
			android:screenOrientation="fullUser"
			>
			<intent-filter>
				<action android:name="net.twisterrob.android.intent.action.CAPTURE_IMAGE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<provider
			android:name="net.twisterrob.android.content.CaptureImageFileProvider"
			android:authorities="${applicationId}.capture_image"
			android:exported="false"
			android:grantUriPermissions="true"
			>
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/image__capture_paths"
				/>
		</provider>

	</application>

	<queries>

		<!-- net.twisterrob.android.content.ExternalImageMenu#STOPSHIP where exactly? -->
		<intent>
			<action android:name="android.media.action.IMAGE_CAPTURE" />
		</intent>

		<!-- net.twisterrob.android.content.ExternalImageMenu#STOPSHIP where exactly? -->
		<intent>
			<action android:name="android.intent.action.GET_CONTENT" />
			<data android:mimeType="image/*" />
		</intent>

		<!-- net.twisterrob.android.content.ExternalImageMenu#STOPSHIP where exactly? -->
		<intent>
			<action android:name="android.intent.action.PICK" />
			<data android:mimeType="image/*" />
		</intent>

	</queries>

</manifest>
