<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	>

	<uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
	<uses-feature android:name="android.hardware.camera" android:required="false" />

	<!-- net.twisterrob.android.activity.CaptureImage.doPick -->
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

	<application>

		<activity
			android:name="net.twisterrob.android.activity.CaptureImage"
			android:exported="false"
			android:screenOrientation="fullUser"
			tools:ignore="DiscouragedApi"
			>
			<!-- lint:DiscouragedApi Camera activity requires full rotation control for better experience. -->
		</activity>

		<provider
			android:name="net.twisterrob.android.content.CaptureImageFileProvider"
			android:authorities="${applicationId}.capture_image"
			android:exported="false"
			android:grantUriPermissions="true"
			>
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/image__capture_paths"
				/>
		</provider>

	</application>

	<queries>
		<!-- net.twisterrob.android.view.ExternalPicker.captureImage via Menu.add-->
		<intent>
			<action android:name="android.media.action.IMAGE_CAPTURE" />
		</intent>

		<!-- net.twisterrob.android.view.ExternalPicker.pickVisualImage via Menu.add-->
		<intent>
			<action android:name="android.provider.action.PICK_IMAGES" />
			<data android:mimeType="image/*" />
		</intent>

		<!-- net.twisterrob.android.view.ExternalPicker.getContent via Menu.add-->
		<intent>
			<action android:name="android.intent.action.GET_CONTENT" />
			<category android:name="android.intent.category.OPENABLE" />
			<data android:mimeType="image/*" />
		</intent>

		<!-- net.twisterrob.android.view.ExternalPickerKt Menu.add(Int, Int) via ExternalPicker.pickImage -->
		<intent>
			<action android:name="android.intent.action.PICK" />
			<data android:mimeType="image/*" />
		</intent>

	</queries>

</manifest>
